# Apache Airflow e dependências (compatível com Python 3.12)
apache-airflow==3.1.5
#apache-airflow-providers-google
#apache-airflow-providers-postgres
#apache-airflow-providers-openlineage

# Providers para dbt
dbt-core==1.9.1
dbt-bigquery==1.9.1

# Utilitários
#pandas
#numpy
#sqlalchemy

# Monitoramento e observabilidade
#prometheus_client
#statsd

# Desenvolvimento e testes
#pytest
#black
#flake8

# Segurança
